<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Klassifikation.CVR" value="86631628" />
    <add key="Klassifikation.ClientCertificate" value="5e1c480e" />
    <add key="Klassifikation.Endpoint" value="https://klassifikation.eksterntest-stoettesystemerne.dk/klassifikationsystem_6" />
    <add key="Klassifikation.STSIssuer" value="https://adgangsstyring.eksterntest-stoettesystemerne.dk/" />
    <add key="Klassifikation.STSCertificateAlias" value="test-ekstern-adgangsstyring (funktionscertifikat)" />
    <add key="Klassifikation.STSCertificate" value="5e089309" />
    <add key="Klassifikation.ServiceEntityId" value="http://entityid.kombit.dk/service/klassifikation/6" />
    <add key="Klassifikation.FKClassficationCertificateAlias" value="Klassifikation_T (funktionscertifikat)" />
    <add key="Klassifikation.FKClassficationCertificateSerialNumber" value="5baaef71" />
    <add key="Klassifikation.ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="KlassifikationSystem">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="Facet">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="Klasse">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="Klassifikation">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="KlassifikationListeHentServiceBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://klassifikation.eksterntest-stoettesystemerne.dk/klassifikationsystem_6"
        binding="customBinding" bindingConfiguration="KlassifikationSystem"
        contract="SF1510_V6_KlassifikationSystemService.KlassifikationSystemPortType"
        name="KlassifikationSystem" />
      <endpoint address="https://klassifikation.eksterntest-stoettesystemerne.dk/facet_6"
        binding="customBinding" bindingConfiguration="Facet" contract="SF1510_V6_FacetService.FacetPortType"
        name="Facet" />
      <endpoint address="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse_6"
        binding="customBinding" bindingConfiguration="Klasse" contract="SF1510_V6_KlasseService.KlassePortType"
        name="Klasse" />
      <endpoint address="https://klassifikation.eksterntest-stoettesystemerne.dk/klassifikation_6"
        binding="customBinding" bindingConfiguration="Klassifikation"
        contract="SF1510_V6_KlassifikationService.KlassifikationPortType"
        name="Klassifikation" />
      <endpoint address="https://klassifikation.eksterntest-stoettesystemerne.dk/klassifikationlistehent_1"
        binding="customBinding" bindingConfiguration="KlassifikationListeHentServiceBinding"
        contract="SF1510_V6_KlassifikationListehent.KlassifikationListeHentServicePortType"
        name="KlassifikationListeHentServicePortType" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>