<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FacetBinding">
          <security mode="Transport" />
        </binding>
        <binding name="FacetBinding1" />
        <binding name="KlasseBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KlasseBinding1" />
        <binding name="KlassifikationBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KlassifikationBinding1" />
        <binding name="KlassifikationSystemBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KlassifikationSystemBinding1">
          <!--<security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8080/service/Klassifikation/Facet/5"
          binding="basicHttpBinding" bindingConfiguration="FacetBinding"
          contract="SF1510_FacetService.FacetPortType" name="FacetPort" />
      <endpoint address="https://localhost:8080/service/Klassifikation/Klasse/5"
          binding="basicHttpBinding" bindingConfiguration="KlasseBinding"
          contract="SF1510_KlasseService.KlassePortType" name="KlassePort" />
      <endpoint address="https://localhost:8080/service/Klassifikation/Klassifikation/5"
          binding="basicHttpBinding" bindingConfiguration="KlassifikationBinding"
          contract="SF1510_KlassifikationService.KlassifikationPortType"
          name="KlassifikationPort" />
      <endpoint address="https://localhost:8080/service/Klassifikation/KlassifikationSystem/5"
          binding="basicHttpBinding" bindingConfiguration="KlassifikationSystemBinding"
          contract="SF1510_KlassifikationSystemService.KlassifikationSystemPortType"
          name="KlassifikationSystemPort" />
    </client>
  </system.serviceModel>
</configuration>
