<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fujitsu.Tools.KLPlanUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fujitsu.Tools.KLPlanUpdate.Properties.Settings>
            <setting name="Archive" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="ArchivePeriod" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="FacetClassType" serializeAs="String">
                <value>203000</value>
            </setting>
            <setting name="SubArchiveOffset" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="ClasscodeOffset" serializeAs="String">
                <value>200000</value>
            </setting>
        </Fujitsu.Tools.KLPlanUpdate.Properties.Settings>
    </applicationSettings>
</configuration>